<main class="main">

  <ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a routerLink="/">Admin</a></li>
    <li class="breadcrumb-item active">Semesters</li>
  </ol>

  <div class="container-fluid">
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <div class="row">
                  <div class="col mr-auto">
                    <h2 class="header-text">Semesters</h2>
                  </div>
                  <div class="col-sm-1" id="header-btn-add">
                      <button type="button" class="btn btn-add btn-primary" data-toggle="modal" data-target="#exampleModalCenter">+Add</button>
                  </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                  <div class="col-sm-12">
                      <table style="width: 100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Semester</th>
                                  <th>Year</th>
                                  <th>Status</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr class="odd gradeX">
                                  <td>Trident</td>
                                  <td>Internet Explorer 4.0</td>
                                  <td>Win 95+</td>
                                  <td class="center">X</td>
                                  <td>
                                      <a href="semester_edit.html"><i class="fa fa-edit text-success"></i></a>
                                      <i class="fa fa-remove text-danger"></i>
                                  </td>
                              </tr>
                              <tr class="odd gradeX">
                                  <td>Trident</td>
                                  <td>Internet Explorer 4.0</td>
                                  <td>Win 95+</td>
                                  <td class="center">X</td>
                                  <td>
                                      <a href="semester_edit.html"><i class="fa fa-edit text-success"></i></a>
                                      <i class="fa fa-remove text-danger"></i>
                                  </td>
                              </tr>
                              <tr class="odd gradeX">
                                  <td>Trident</td>
                                  <td>Internet Explorer 4.0</td>
                                  <td>Win 95+</td>
                                  <td class="center">X</td>
                                  <td>
                                      <a href="semester_edit.html"><i class="fa fa-edit text-success"></i></a>
                                      <i class="fa fa-remove text-danger"></i>
                                  </td>
                              </tr>
                              <tr class="odd gradeX">
                                  <td>Trident</td>
                                  <td>Internet Explorer 4.0</td>
                                  <td>Win 95+</td>
                                  <td class="center">X</td>
                                  <td>
                                      <a href="semester_edit.html"><i class="fa fa-edit text-success"></i></a>
                                      <i class="fa fa-remove text-danger"></i>
                                  </td>
                              </tr>
                              <tr class="odd gradeX">
                                  <td>Trident</td>
                                  <td>Internet Explorer 4.0</td>
                                  <td>Win 95+</td>
                                  <td class="center">X</td>
                                  <td>
                                      <a href="semester_edit.html"><i class="fa fa-edit text-success"></i></a>
                                      <i class="fa fa-remove text-danger"></i>
                                  </td>
                              </tr>
                              <tr class="odd gradeX">
                                  <td>Trident</td>
                                  <td>Internet Explorer 4.0</td>
                                  <td>Win 95+</td>
                                  <td class="center">X</td>
                                  <td>
                                      <a href="semester_edit.html"><i class="fa fa-edit text-success"></i></a>
                                      <i class="fa fa-remove text-danger"></i>
                                  </td>
                              </tr>
                              <tr class="odd gradeX">
                                  <td>Trident</td>
                                  <td>Internet Explorer 4.0</td>
                                  <td>Win 95+</td>
                                  <td class="center">X</td>
                                  <td>
                                      <a href="semester_edit.html"><i class="fa fa-edit text-success"></i></a>
                                      <i class="fa fa-remove text-danger"></i>
                                  </td>
                              </tr>
                              <tr class="odd gradeX">
                                  <td>Trident</td>
                                  <td>Internet Explorer 4.0</td>
                                  <td>Win 95+</td>
                                  <td class="center">X</td>
                                  <td>
                                      <a href="semester_edit.html"><i class="fa fa-edit text-success"></i></a>
                                      <i class="fa fa-remove text-danger"></i>
                                  </td>
                              </tr>
                              <tr class="odd gradeX">
                                  <td>Trident</td>
                                  <td>Internet Explorer 4.0</td>
                                  <td>Win 95+</td>
                                  <td class="center">X</td>
                                  <td>
                                      <a href="semester_edit.html"><i class="fa fa-edit text-success"></i></a>
                                      <i class="fa fa-remove text-danger"></i>
                                  </td>
                              </tr>
                              <tr class="odd gradeX">
                                  <td>Trident</td>
                                  <td>Internet Explorer 4.0</td>
                                  <td>Win 95+</td>
                                  <td class="center">X</td>
                                  <td>
                                      <a href="semester_edit.html"><i class="fa fa-edit text-success"></i></a>
                                      <i class="fa fa-remove text-danger"></i>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</main>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Semester</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <div class="form-group row">
              <label for="sem-semester" class="col-sm-3 col-form-label">Semester: </label>
              <div class="col-sm-9">
                  <input type="taker-id" class="form-control" id="sem-semester" placeholder="Semester">
              </div>
          </div>
          <div class="form-group row">
              <label for="sem-year" class="col-sm-3 col-form-label">Year: </label>
              <div class="col-sm-9">
                  <input type="taker-firstname" class="form-control" id="sem-year" placeholder="Year">
              </div>
          </div>
          <div class="form-group row">
            <label for="sem-status" class="col-sm-3 col-form-label">Status: </label>
            <div class="col-sm-9" id="radio-groups">
                <input class="sem-status" type="radio" name="iCheck">Is current
                <input class="sem-status" type="radio" name="iCheck" checked>Is not current
            </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </div>
  </div>
</div>