<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-primary">NEW</span></a>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-people"></i> Users</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLink="/users"><i class="icon-people"></i>Users </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-types"><i class="icon-people"></i> User Types</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-book-open"></i> Exams</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLink="/subjects"><i class="icon-book-open"></i> Subjects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="icon-book-open"></i> Test Types</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/labs"><i class="icon-book-open"></i> Labs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/semesters"><i class="icon-book-open"></i> Semesters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/takers"><i class="icon-book-open"></i> Takers</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>